# Default ignored files
/shelf/
/workspace.xml
/dictionaries/diegopatino.xml
/codeStyles/codeStyleConfig.xml
/compiler.xml
/jarRepositories.xml
/misc.xml
/codeStyles/Project.xml
/runConfigurations.xml
/vcs.xml
